
body {
  background-color: rgb(255, 255, 255);
  float: center;
  overflow: hidden;
  font-family: "Hind", sans-serif;
  height: 800px;
  width: 550px;
}

/* MAPA */
.box-mapa {
  position: relative;
  z-index: 1;
  padding: 280px 0 0 720px;
}

#map {
  display: none;
  transform: scale(2.1);
  display: table !important;
  float: right;
}

#map .state {
  cursor: pointer;
}

#map .state .shape {
  cursor: pointer;
 
}

#map .state .label_icon_state {
  fill: #fff;
  font-family: Arial;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}

#map .state .label_state {
  display: relative;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

#map .model-davi .state:hover .label_state {
  display: block;
  fill: #FFF !important;
}

#map .model-davi .state .shape {
  fill: #ddd;
}

#map .model-davi .state:hover .shape {
  fill: #039be5 !important;
}

#map .model-davi .state .icon_state {
  fill: #284779;
}

#map .model-davi .state:hover .icon_state {
  fill: #039be5;
}

#map .model-davi .state .icon_state + .label_icon_state {
  fill: #FFF;
}

#map .model-davi .state .label_icon_state {
  fill: #666;
}

#map .model-davi .state:hover .label_icon_state {
  fill: #FFF;
}

#map .model-davi .state .label_state {
  fill: #666;
  display: none;
}

#map .model-davi .state .shape {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#map .model-davi .state:hover .shape {
  fill: #0288d1;
}

.parca {
  transform: scale(3);
  position: relative;
  float:left;
  top: 80%;
  left: 25%;
}

.parca select#seletory{
  display: none;
  margin: 0 auto;
  width: 230px;
  border: 1px solid #ffffff;
  height: 40px;
  padding: 9px;
  border-radius: 0;
}

.parca .estado {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px ;
  position: absolute;
  margin-top: 45px;
  opacity: 0;
  border-radius: 5px;
  visibility: visible;
  padding: 10px;
  left: 0;
  right: 0;
  min-width: 230px;
  display: table;
  box-shadow: 0 1px 100px 0px rgba(0, 0, 0, 0.3);
}

.parca .estado h3 {
  text-align: center;
  margin-top: 0;
  display: block;
  background-color: #1e88e5;
  padding: 10px;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 20px;
}

.parca .estado ul {
  padding-left: 10px;
}

.parca .estado ul li {
  line-height: 20px;
}

.parca #box_mg.estado {
  opacity: 1;
  visibility: visible;
}
#informacoes_mg, #informacoes_ac, #informacoes_al, #informacoes_ap, #informacoes_am, #informacoes_ba, #informacoes_ce, #informacoes_df, #informacoes_es, #informacoes_go, #informacoes_ma, #informacoes_mt, #informacoes_ms, #informacoes_pa, #informacoes_pb, #informacoes_pr, #informacoes_pe, #informacoes_pi, #informacoes_rj, #informacoes_rn, #informacoes_rs, #informacoes_ro, #informacoes_rr, #informacoes_sc, #informacoes_se, #informacoes_sp, #informacoes_to{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
